<h2>All Infogrphics</h2>
<strong><%= link_to 'Add New Infographic', new_admin_infographic_path %></strong>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @infographics.each do |infographic| %>
    <tr>
      <td><%= image_tag infographic.image.url, class: 'infographic' %></td>
      <td><%= link_to 'Delete', admin_infographic_path(infographic), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

