<div class="lawPagesMain">

<section class="lawBoxesSection">

	<div class="container lawsBox">
		<div class="lawTitleBox border-right">
			<h2 class="lawTitle ">DATA PROTECTION (JERSEY) LAW 2018</h2>
			<p>A LAW to make new and consolidated provision relating to the protection of natural persons with regard to the processing and free movement of personal data and for connected purposes.</p>
		</div>

		<div class="lawTitleBox border-right">
			<h2 class="lawTitle">DATA PROTECTION AUTHORITY (JERSEY) LAW 2018</h2>
			<p>A LAW to provide for a new statutory body to oversee the protection of personal data and for connected purposes.</p>
		</div>

		<div class="lawTitleBox">
			<h2 class="lawTitle">DATA PROTECTION (REGISTRATION AND CHARGES) (JERSEY) REGULATIONS 2018</h2>
			<p></p>
		</div>
	</div>

</section>

<section class="mainLaw container">

	<section class="lawsIndexSection">

		<div class="lawsIndexBox">
			
			<div class="lawSelection">
				<p>1. Interpretation</p>
			</div>

		</div>
		
	</section>

	<section class="lawContentSection">
		
		<div>
			<h1>TEST</h1>
			<p>Test test tets</p>
			
		</div>

	</section>

</section>


</div>