<div class='terms_cond'>
  <h1>Privacy Statement</h1>
  <p>The Office of the Information Commissioner(OIC) takes your privacy seriously. We want you to
     be certain that you know what happens to the personal information you give us. This Statement
     sets out what we do with your information, why we need it and what you can do if you have any
     concerns about how we use it.
  <h2>Who we are</h2>
  <p>The OIC is an independent statutory authority and its mission is to promote respect for the
       private lives of individuals through ensuring privacy of their personal information. The contact
       details are:</p>
  <p>T. +441534 716530</p>
  <p><a href='mailto:enquiries@oicjersey.org'>Email: enquiries@oicjersey.org</a></p>
  <p>Postal address:</p>
  <p>Brunel House</p>
  <p>Old Street</p>
  <p>St Helier</p>
  <p>Jersey JE2 3RG</p>
  <h2>Why we hold your information</h2>
  <p>We collect personal information</p>
  <ul>
    <li> when complaints or enquiries are submitted via the How to Complain section of the
    website(oicjersey.org),</li>
    <li> as part of the notification process by organisations</li>
    <li> when emails are sent to both the <a href='mailto:enquiries@oicjersey.org'>enquiries@oijersey.org</a> email address or staff
    memeber's email address</li>
    <li> in some cases as a result of enquiries made by phone or in person</li>
  </ul>
  <h2>How we use your information</h2>
  <ol>
    <li> Collected via the Complaints page of the website</li>
      <p>This information is processed for the purpose of responding to or investigating your complaint. It
    is likely that some of this personal information will be provided to whoever the complaint is
    about. Should there be information you do not wish to be passed on, please let us know.</p>
    <li> Collected as part of the notification process</li>
      <p>Data Controllers and Data Processors are required by law to notify the Data Protection
        Commissioner of the processing they carry out. This may contain personal information, for
        example where the business is a sole trader. Notification information is compiled into a public
        register, as required by law.</p>
      <p>Details of a relevant memeber of staff are requested as part of this process. The staff member's
        name will appear on the public register but the contact details will remain solely for use by the
        OIC.</p>
    <li> Collected by email</li>
     <p>Information supplied by email will be processed by the email application and may be recorded in
       the customer relationship management system if relates to a complaint, notification or other
       matter of significance.</p>
    <li> Collected as a result of enquiries made by phone or in person</li>
      <p>Information may be recorded in the customer relationship management system if relates to a
      complaint, notification or other matter of significance.</p>
  </ol>
  <h2>Who may we give your information to</h2>
    <p>We will not usually share your personal information with other parties without your consent
    except where we are required by Law or in connection with a criminal investigation. In the
    absence of any privious consent provided by you, we will contact you should we consider
    disclosure to a third party is necessary for us to fully investigate your complaint or enquiry.
    Please understand that we will often need to share your details with the organisation you have
    complained about in order for us to effectively investigate your complaint.  </p>
  <h2>Your rights in relation to your information</h2>
    <p>You can acces the information we hold about you at any time by writing to us at the above
    address</p>
    <p>If you become aware that the information we hold about you is inaccurate, please tell us and we
    will put it right. In the meantime, you can ask us to restrict how we use your information. </p>
  <h2>How long do we keep your information</h2>
  <p>Unless required by law to keep it for longer, we will keep information about you and your
  complaint for 5 years.</p>
  <h2>Links to other websites</h2>
   <p>This privacy notice does not cover any third party websites reached via links on this
   website. You are advised to read the privacy statements on the other websites you visit.</p>
</div>
