<div class="flex-container">
  <div>
    <h1>Articles</h1>

    <%= render 'table', articles: @articles %>

    <% if @articles.blank? %>
      <h4>There are no Articles containing <%= params[:search] %>.</h4>
    <% end %>

  </div>
</div>
