<div class="flex-container">
  <div>

    <%# name = @form_params.law.downcase.gsub('-', ' ').split.map(&:capitalize).join(' ') %>
    <h1><%#= name %></h1>
    <p>DO a Search here that searches by title. Search will not display on any recital/guidance as they dont have title.</p>

    <%= link_to 'Create New', new_admin_article_path(:law => @form_params.law, :type => @form_params.type) %>

    <%= render 'table', articles: @articles %>

  </div>
</div>
