// So we can make anything a flex box!

.flex {
  display: flex;
}

.flex--justify-between {
  justify-content: space-between;
}

.flex--column {
  flex-direction: column;
}

.flex--items-align {
  align-items: center;
}
