<!DOCTYPE html>
<html>
  <head>
    <title>Dataprotection</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'frontend', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Frontend Layout</h1>
    <%= yield %>
  </body>
</html>
