html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}


body {
	margin: 0;
	padding: 0;
}

/***** Helpers ******/

$gdpr_red: #b22328;

.removeMargin {
	margin: 0;
}

.flex-container {
	display: flex;
}

.stretch {
	display: flex;
    height: 100%;
    width: 100%;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
    height: 100%;
}

.space-between { 
  justify-content: space-between; 
}




/****** Header ******/

.topBar {
	height: 32px;
	line-height: 32px;
	background-color: #505050;
	width: 100%;
	color: #ffffff;
	justify-content: space-between;

	ul {
		padding: 0 40px;
		li {
			list-style-type: none;
		}
	}

}




/****** Nav ******/

.leftNav {
	width: 260px;
	background-color: $gdpr_red;
	height: 100%;

	h1 {
		padding-left: 40px;
		color: #ffffff;
	}

	ul li {
		list-style-type: none;
		color: #ffffff;
	    line-height: 40px;
	    font-size: 18px;
	}

	ul li a {
		text-decoration: none;
		color: #ffffff
	}

	.subCategoryCreate li {
		font-size: 14px;
	}
}


/****** Main Edit Content Area ******/

main {
	width: calc(100% - 300px);
	background-color: #f2f2f2;
	padding: 20px;

	h1 {
		margin-top: 0;
	}

	.articleHeader {
		height: 40px;
	    width: 660px;
	    padding-left: 20px;
	    font-size: 18px;
	    margin-bottom: 15px;
	}

	.articleText {
		height: 300px;
	    width: 660px;
	    padding-left: 20px;
	    font-size: 18px;
	    margin-bottom: 15px;
	}
}

.mainLeft {
	width: calc(100% - 300px);
	margin-right: 20px;

	.articleHeading {
		line-height: 32px;
    	font-size: 22px;
	}
}

.mainRight {
	width: 300px;

	.articleAssignmentsHeader {
		width: 100%;
		line-height: 32px; 
		margin-bottom: 15px;
		font-size: 18px;

		p {
			margin: 0;
			font-size: 14px;
		}

		select {
			width: 200px;
			margin: auto 0;
			height: 25px;
		}

		.associatedArticleBox {
			width: 200px;
			height: 250px;
		}
	}
}

.articlesTable, .categoriesTable, .groupsTable {

	text-align: left;

	tbody {
		tr {
			max-height: 40px;
		}
	}	
}

.articlesTable, .groupsTable {

	.IDColumn {
			width: 60px;
		}
	.titleColumn, .categoryColumn, .groupColumn {
		width: 100px;
	}
	.contentColumn {
		width: 300px;
	}
	
	.descriptionColumn {
	width: 500px;
	}
}

.categoriesTable {

	.titleColumn, .groupColumn {
		width: 200px;
	}

}

.groupsTable {

	.titleColumn, .groupColumn {
		width: 200px;
	}

}


/****** Main Index Area ******/

.indexTable {

	tr td {
		padding: 10px;
	}
	
	.thContent {
		width: 300px;
	}

	.thTitle,
	.thGroup,
	.thCategory {
	    width: 150px;
	}

	.rowAlternateColor:nth-child(even) {
		background: #CCC
	}

	.rowAlternateColor:nth-child(odd) {
		background: #FFF
	}

	.showEditDestroyColumns {
	    max-width: 60px;
	    width: 60px;
	}
}



/****** Show Area ******/

.showArea p {
	background: white;
    padding: 5px 10px;
}

.showHeading {
		line-height: 32px;
    	font-size: 22px;
	}



