
// @import '~pretty-checkbox/src/pretty-checkbox.scss';
// this is for the check boxes
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  flex-grow: 1;
}
