@import "frontend/helpers.scss";
@import "index/index_nav.scss";
@import "index/index_main.scss";
@import "frontend/frontend_footer.scss";
@import './trumps/links';
@import './trumps/text';
@import './trumps/flex';
@import './trumps/background_images';
@import './trumps/content_wrap';

a {
  text-decoration: none;
}

.top-section {
	max-height: 800px;
}


.hero-image {
    object-fit: none;
    height: 100%;
    max-width: 100%;

}

.lawsBox {
    //position: absolute;
    //top: 200px;
    left: 0;
    width: 100%;
    //height: 100%;
    //z-index: 10;
  padding: 40px 0 !important;

    h2 {
	    padding: 0 20px;
	    text-align: center;
	    font-size: 30px;
	    color: #ffffff;
    }
}

.lawTitleBox {
	flex-direction: column;
	max-width: 500px;
	text-align: center;
	padding: 10px 25px;
    margin: 0 auto;

	h2, p, a {
		color: #ffffff;
	}

	h2 {
		font-size: 18px;
	}
	p {
		//font-size: 14px;
	}

	a:visited {
		color: #ffffff;
	}
}

.textSection {
	p {
      //padding: 0 20px;
      //font-size: 14px;
	}

	h2 {
      //padding: 0 20px 0;
	}
}

.about-section, .aboutJerseyAuthorityLaws {
	background-color: $gdpr_dark;
	color: #ffffff;
	padding: 50px 0;
    margin-top: -5px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
	h2 {
		margin-top: 0;
	}
	p {

	}
}


.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $gdpr_dark;
  color: #ffffff;
  padding: 50px 20px;

	.contact-section, .contact-form-right {
		width: 100%;

			h2 {
			margin-top: 0;
		}

	}

	.contact-form-right {
		margin-top: 50px;
	}

	input[type=text], input[type=email], select, textarea {
	    width: 100%;
	    padding: 12px;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	    margin-top: 6px;
	    margin-bottom: 16px;
	    resize: vertical;
	}

	input[type=submit] {
	    background-color: $gdpr_red;
	    color: white;
	    padding: 12px 20px;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
	}



}

.computer-image, .desk-image, .security-image {
	width: 100%;
}

.infographics {
	margin: auto;
	max-width: 250px;
}

.infographic {
	max-width: 250px;
	max-height: 160px;
	margin: 10px;
	display: inline-block;
}

@media screen and (min-width: 540px) {
	.infographics {
		max-width: 900px;
		margin: 20px auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		display: flex;
    	justify-content: space-evenly;
	}
}

@media screen and (min-width: 766px) /* tablet */ {
	.contact-details {
		flex-direction: row;
	  
	  	.contact-section, .contact-form-right {
		  width: 45%; 
	  	}

	  	.contact-form-right {
			margin-top: 0;
		}
	}

}

@media screen and (min-width: 932px) /* Desktop */ {

	.hero-image {
	    object-fit: inherit;
	    width: 100%;
	}

	.lawsBox > h2 {
		font-size: 25px;
	}

}



@media screen and (min-width: 1024px) /* Desktop */ {
	p {
		//font-size: 12px;
	}

	h2 {
		font-size: 1em;
	}

	.top-section {
		display: flex;

		img {
			width: 60%;
	    	height: 100%;
	    	max-width: 932px;
		}
	}


	.lawsBox {

	    margin: auto 0;
	    position: static;
	    background-color: #ffffff;

	    h2 {
				color: $dark_grey;
				max-width: 315px;
				margin: 0 auto;
			}

		.lawTitleBox {
			flex-direction: column;
			//max-width: 5px;
			text-align: center;
			padding: 10px 25px;

			a:visited {
				color: $dark_grey;
			}
		}
	}

	.about-section {
		background-color: $gdpr_dark;
	    padding: 50px;
	    color: #ffffff;
		margin-top: 0;
	}

	.textSection p {
		width: auto;
	}

	.aboutJerseyLawsSection {
		display: flex;

		.aboutJerseyLaws {
			width: 450px;
		    margin: auto;
		    padding-top: 100px;
		    padding-left: 200px;
	    }

	    .computerImageBackground {
		    background-color: $gdpr_dark;
		    padding: 50px 0;
		    width: 400px;
		}

		.computer-image {
			width: auto;
			max-width: 600px;
		}
	}

	.aboutAuthorityLawsSection {
		display: flex;
		flex-direction: row-reverse;

		.authorityLawsText {
			width: 380px;
    		padding-right: 60px;
		}

		.desk-image {
			max-width: 880px;
		}

		.deskImageBackground {
			padding: 50px 0;
		}

		.aboutJerseyAuthorityLaws {
		    background-color: #ffffff;
		    color: $gdpr_dark;
		    margin-top: 0;
		}
	}

	.aboutRegulationsLawsSection {
		display: flex;

		.security-image {
			width: auto;
			max-width: 540px;
		}

		.securityImageBackground {
		    background-color: $gdpr_dark;
		    padding: 0 0 75px;
		    width: 300px;
		}

		.aboutJerseyRegulationsLaws {
			width: 450px;
		    margin: auto;
		    padding-bottom: 100px;
	        margin-right: 0;
    		padding-right: 30px;
		}
	}

}

@media screen and (min-width: 1200px) /* Desktop */ {

	.aboutRegulationsLawsSection .security-image {
		max-width: 620px;
	}

	.lawsBox > h2 {
	    margin-bottom: 20px;
	}

	.infographics {
		max-width: 1100px;
	}

}


@media screen and (min-width: 1360px) /* Desktop */ {
	.top-section {
      img {
        height: 100%;
      }
	}

	.lawsBox {
      margin: auto 0;
      //margin-left: -170px;
      //position: static;
      background-color: #ffffff;
      //width: 600px;
      padding: 40px 155px;

      h2 {
        color: $dark_grey;
        max-width: 315px;
      }

      .lawTitleBox {
        flex-direction: column;
        //max-width: 315px;
        text-align: center;
        padding: 10px 25px;

        a:visited {
          color: $dark_grey;
        }
      }
	}

  .aboutJerseyLaws {
    padding: 50px;
  }


	.aboutJerseyLawsSection .aboutJerseyLaws {
	    padding-left: 0;
	}

	.desk-image {
		max-width: 880px;
	}

	.aboutRegulationsLawsSection .security-image {
		max-width: 840px;
	}

}

.infographicsTitle {
	margin: 40px auto 0 auto;
    text-align: center;
}


#largeInfographic:hover {opacity: 0.7;}

.infographicsModal {
	min-width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    position: fixed;
    z-index: 20; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
	display: none;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
	}

}

// for landscpae mobiles
@media only screen and (min-width: 400px) and (max-width: 820px){
	.infographicsModal {
		padding-top: 0;
	}
}
